.container.dashboard {
    display: flex;
    gap: var(--size-m);
    padding: var(--size-m);
    height: 100vh;
    box-sizing: border-box;
}
.dashboard-container {
    width: 100%;
}
.sidebar {
    position: fixed;
    width: 15vw;
    height: calc(100vh - 2 * var(--size-m));
    background-color: var(--blue);
    padding: var(--size-m);
    border-radius: var(--border-container);
    overflow-y: auto;
    box-sizing: border-box;
    z-index: 9;
}
.sidebar ul li {
    margin-bottom: var(--size-s);
}
.sidebar ul li a {
    display: flex;
    align-items: center;
    gap: var(--size-xs);
    padding: var(--size-xs);
    color: var(--white);
    text-decoration: none;
    border-radius: var(--border-container);
    transition: all 0.5s ease;
}
.sidebar ul li.subdata a {
    transition: all 0.5s ease;
}
.sidebar ul li a h4,
.sidebar ul li a h3,
.sidebar ul li.subdata a p {
    transition: transform 0.5s ease;
}
.sidebar ul li a:hover {
    background: var(--blue-horizontal);
    transform: translatex(0);
}
.sidebar ul li.subdata a:hover {
    border-left: solid 3px var(--white);
}
.sidebar ul li a:hover h4,
.sidebar ul li a:hover h3,
.sidebar ul li.subdata a:hover p {
    transform: translatex(7px);
}
.active {
    background: var(--blue-horizontal);
}
.sidebar .logo {
    display: flex;
    align-items: center;
    gap: var(--size-xs);
}
.sidebar .logo span {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar .logo img {
    width: 50px;
    height: auto;
}
.sidebar .logo h2 {
    color: var(--white);
}
.sidebar {
    position: fixed;
}
.sidebar ul li.list-data,
.sidebar ul li.subdata {
    margin-bottom: var(--size-s);
}
.sidebar ul li.subdata {
    margin-left: var(--size-m);
}
.sidebar ul li.subdata a {
    padding: 7px;
}
.sidebar ul li.subdata a.active {
    border-left: solid 3px var(--white);
}
.navbar {
    width: calc(100% - 16.35vw - 2 * var(--size-m));
    box-sizing: border-box;
    z-index: 9;
    top: 0;
    padding: 20px 0 20px 0;
    margin-left: 16.35vw;
    position: fixed;
    background-color: var(--darkblue);
}
.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-s);
    background-color: var(--blue);
    border-radius: var(--border-container);
}
.navbar-icon-logout-container {
    display: flex;
    align-items: center;
    gap: var(--size-s);
}
.dashboard-content {
    padding: 12.5vh 0 0 16.35vw;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
}
.dashboard-top {
    display: flex;
    gap: var(--size-m);
}
.dashboard-top .content {
    flex: 1;
    padding: var(--size-m);
    box-sizing: border-box;
    border-radius: var(--border-container);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-xs);
    height: 30vh;
}
.dashboard-top .content.dashboard-workspace .workspace-title {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: var(--size-xs);
}
.dashboard-top .content.dashboard-workspace:last-child {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
}
.dashboard-top .content.dashboard-workspace:last-child .content-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: var(--border-container);
    text-align: center;
}
.dashboard-top .content .content-role {
    text-transform: capitalize;
}
.dashboard-bottom {
    display: flex;
    gap: var(--size-m);
    height: 100%;
}
.dashboard-bottom .dashboard-schedule .dashboard-schedule-container {
    overflow-y: auto;
}
.dashboard-bottom .dashboard-schedule,
.dashboard-bottom .dashboard-board,
.user-detail-schedule {
    background-color: var(--blue);
    padding: var(--size-m);
    border-radius: var(--border-container);
}
.dashboard-bottom .dashboard-schedule,
.dashboard-bottom .dashboard-schedule .dashboard-schedule-container,
.user-detail-schedule {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
}
.dashboard-bottom .dashboard-schedule .content,
.user-detail-schedule .content {
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
    padding: var(--size-m);
    border-radius: var(--border-container);
}
.dashboard-bottom .dashboard-board,
.user-detail-schedule {
    flex: 1;
}
.dashboard-bottom .dashboard-board,
.dashboard-board-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
}
.dashboard-board .dashboard-board-content {
    text-align: center;
    padding: var(--size-m);
    border-radius: var(--border-container);
}
/* schedule */
.fc-event .fc-daygrid-event-dot {
    border-color: var(--white);
}
.fc-event {
    border-color: var(--transparent);
}
.fc-theme-standard .fc-popover,
.fc-theme-standard .fc-popover-header {
    background: var(--blue);
}
/* workspace */
.workspace-container {
    gap: var(--size-m);
}
.workspace-content {
    gap: var(--size-s);
}
.workspace-container,
.workspace-content,
.member-container {
    display: flex;
    flex-direction: column;
}
.member-container {
    gap: var(--size-xs);
}
.workspace-title {
    display: flex;
    align-items: center;
    gap: var(--size-s);
}
.workspace-title .task-share {
    margin-left: auto;
}
/* workspace, board & task */
.dashboard-content .workspace,
.dashboard-content .member,
.dashboard-content .task,
.dashboard-content .board {
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
}
.task-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task-share {
    display: flex;
    align-items: center;
    gap: var(--size-xs);
}
.task-share form option span {
    font-size: var(--size-xs);
}
.task-share .dropdown-menu {
    background-color: var(--blue);
    padding: var(--size-s);
    display: flex;
    flex-direction: column;
    gap: var(--size-s);
}
.task-share .dropdown-menu .close {
    font-size: var(--size-l);
}
.task-share .dropdown-menu .result-container {
    display: flex;
    align-items: center;
    background: var(--darkblue);
}
/* .task-share .dropdown-menu .social_icons .social_icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.task-share .dropdown-menu .social_icons .social_icon a {
    font-size: var(--size-l);
} */
.task-share.workspace .dropdown .link {
    background: var(--blue);
}
input:valid.input-join,
.dropdown.board-visibility .dropdown-menu form select:valid {
    border-radius: var(--border-container);
    background: var(--darkblue);
}
.wrapper {
    overflow-x: auto;
    white-space: nowrap;
}
.content-board.center {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}
.content-board.center a {
    width: 100%;
}
.content-board.center a:hover {
    transform: translateY(0);
}
.content-board-crud {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.5s ease, margin-top 0.3s ease;
    gap: var(--size-xs);
}
.content-board.center:hover .content-board-crud {
    max-height: var(--size-xl);
    opacity: 1;
    margin-top: 10px;
}
.content-board-crud button {
    padding: 3px var(--size-s);
    font-size: 12px;
    background-color: transparent;
}
.board-container,
.task-container {
    display: inline-flex;
    gap: var(--size-m);
    align-items: flex-start;
}
.content-task,
.content-board {
    background-color: var(--blue);
    padding: var(--size-m);
    border-radius: var(--border-container);
    display: flex;
    flex-direction: column;
    gap: var(--size-s);
    width: 20vw;
}
.content-task-top {
    cursor: pointer;
}
.task-item-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
}
.content-task-item {
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
}
.content-task-item p#gradient-orange,
.content-task-item p#gradient-blue,
.content-task-item p#gradient-red,
.content-task-item p#gradient-green,
.content-task-item p#gradient-pink,
.content-task-item p#gradient-purple {
    padding: var(--size-xs);
    border-radius: var(--border-container);
}
.content-task-item,
.add-item {
    padding: var(--size-m);
    white-space: normal;
    overflow-wrap: break-word;
    cursor: pointer;
    background-color: var(--darkblue);
    border-radius: var(--border-container);
}
.add-item {
    display: flex;
    align-items: center;
    gap: var(--size-s);
    width: 100%;
}
.content-task.add-task,
.content-board.add-board {
    background: var(--blue-horizontal);
    cursor: pointer;
}
.container-task-label,
.container-task-component {
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    gap: var(--size-xs);
}
.content-task-label,
.hashtag-label-container .dropdown button.link,
.modal-details-checklist .dropdown button.link {
    padding: 3px var(--size-s);
    border-radius: var(--border-container);
}
.content-task-label,
.content-task-component {
    flex: 0 1 auto;
}
.content-task-label p,
.hashtag-label-container .dropdown button.link,
.modal-details-checklist .dropdown button.link {
    font-size: 12px;
}
/* attendance */
.dashboard-attendance-top,
.content-attendance {
    padding: var(--size-xs);
    background-color: var(--blue);
    border-radius: var(--border-container);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-s);
}
.dashboard-attendance-top {
    height: 100%;
}
.dashboard-attendance-bottom {
    display: flex;
    justify-content: space-between;
    gap: var(--size-m);
    height: 60vh;
}
.content-attendance {
    flex: 1;
    padding: var(--size-m);
}
.content-attendance .attendance-warning {
    padding: var(--size-xs);
    border-radius: var(--border-container);
}
/* profile */
.profile-edit {
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
    padding: var(--size-m);
    border-radius: var(--border-container);
    background-color: var(--blue);
}
.profile-edit form input {
    background: var(--darkblue);
    border-radius: var(--border-container);
}
.profile-edit form input::placeholder {
    color: var(--white-30);
}
.profile-edit form button {
    background: var(--blue-horizontal);
}
/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    display: flex;
    flex-direction: column;
    gap: var(--size-s);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--darkblue);
    padding: var(--size-l);
    border-radius: var(--border-container);
    width: 50vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    max-height: 80vh;
}
.modal-title-close,
.dropdown-title-close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-m);
}
.modal-content .close,
.dropdown-menu .close {
    color: var(--white);
    float: right;
    font-size: var(--size-xl);
    cursor: pointer;
}
.modal-content form {
    display: flex;
    flex-direction: column;
    gap: var(--size-s);
}
.modal-content form input,
.modal-content form select,
.modal-content form textarea {
    border-radius: var(--border-container);
    background: var(--blue);
}
.modal-content form button {
    background-color: var(--blue);
    margin-left: auto;
}
.modal-content form button.icon {
    background-color: transparent;
    margin-left: 0;
}
.modal-footer {
    display: flex;
    justify-content: space-between;
}
.modal-content form textarea {
    resize: none;
}
.modal-details {
    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: var(--size-s);
}
.modal-details-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
}
.modal-detail-buttons {
    display: flex;
    flex-direction: column;
    gap: var(--size-s);
    width: 25%;
}
.modal-detail-buttons button {
    background: var(--blue-horizontal);
    width: 100%;
}
.modal-details-comments {
    white-space: normal;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    gap: var(--size-m);
}
.modal-user-comment {
    display: flex;
    align-items: center;
    gap: var(--size-s);
}
.profile-comment {
    display: flex;
    gap: var(--size-s);
    width: 100%;
}
.profile-comment form {
    width: 100%;
}
.modal-details-checklist,
.modal-details-label {
    display: flex;
    flex-direction: column;
    gap: var(--size-s);
}
.modal-details-checklist {
    background-color: var(--blue);
    border-radius: var(--border-container);
    padding: var(--size-s);
}
.checklist-progress-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
}
.checklist-progress-container p {
    font-size: 14px;
}
.checklist-progress-bar {
    background: var(--blue-horizontal);
    height: var(--size-xs);
    border-radius: var(--border-button-input);
}
.checkbox-item-input {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    cursor: pointer;
    gap: var(--size-s);
    font-size: 14px;
}
.checkbox-item-input input {
    position: absolute;
    height: 0;
    width: 0;
    cursor: pointer;
}
.check {
    position: absolute;
    height: var(--size-m);
    width: var(--size-m);
    border: 2px solid var(--white);
    border-radius: var(--border-container);
    top: 0;
    left: 0;
    transition: 0.2s ease-in-out;
}
.checkbox-item-input:hover input ~ .check {
    border-color: transparent;
    background-color: var(--white);
}
.checkbox-item-input input:checked ~ .check {
    border-color: transparent;
    background-color: var(--white);
}
.check::after {
    content: "";
    position: absolute;
    width: 5px;
    height: var(--size-xs);
    border: solid var(--blue);
    border-width: 0 3px 3px 0;
    left: 7px;
    top: 2px;
    transform: rotate(45deg);
}
.check.login::after {
    content: "";
    border: solid var(--blue);
    border-width: 0 3px 3px 0;
}
.checklist-items-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-s);
}
.checklist-items-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkbox-item-input input:focus ~ .check {
    box-shadow: 0 0 0 4px var(--white-30);
}
.delete-btn,
.modal-detail-buttons button.delete-btn {
    background: var(--red-horizontal);
}
#message-label,
#message {
    display: none;
}
.attachment-edit-container {
    position: relative;
    width: 100%;
}
.attachment-edit-container img {
    width: 100%;
}
.attachment-edit-container .dropdown {
    position: absolute;
}
.attachment-edit-container .dropdown {
    position: absolute;
    top: var(--size-xs);
    right: var(--size-xs);
}
.dropdown {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    right: 0;
    top: calc(100% + 0.5rem);
    background-color: var(--darkblue);
    padding: var(--size-m);
    border-radius: var(--border-container);
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    z-index: 10;
    min-width: 20vw;
}
.dropdown.clicked .dropdown-menu {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}
.dropdown-menu.label.dropdown-color {
    left: 0;
}
.dropdown.label-edit button.link {
    padding: 0;
}
.hashtag-label-container {
    display: flex;
    gap: var(--size-xs);
}
.hashtag-label-content.color {
    background: var(--blue-horizontal);
}
.hashtag-label-container .dropdown button.link,
.modal-details-checklist .dropdown button.link {
    background: var(--blue-horizontal);
}
.dropdown-color {
    display: flex;
    flex-direction: column;
    gap: var(--size-s);
}
.color-container {
    display: flex;
    flex-direction: column;
    gap: var(--size-s);
}
.grid-color {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-xs);
}
.color {
    display: block;
    width: var(--size-xl);
    height: var(--size-m);
    border-radius: var(--border-button-input);
}
.color-container button {
    background: var(--blue-horizontal);
}
.background-image {
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
}
input[type="radio"] {
    display: none;
}
.radio-button {
    display: inline-block;
    padding: var(--size-xs) var(--size-m);
    border: none;
    cursor: pointer;
    text-align: center;
    border: solid 2px var(--darkblue);
}
.radio-button:hover,
input[type="radio"]:checked + .radio-button {
    border: solid 2px var(--white);
}
