.container.register,
.container.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
}
.container .logo {
    display: flex;
    align-items: center;
    gap: var(--size-xs);
}
.container .logo span {
    max-width: var(--size-l);
}
.container .logo span img {
    width: 100%;
}
.register-container,
.login-container {
    width: 80vw;
    padding: var(--size-xl);
    background-color: var(--blue);
    border-radius: var(--border-container);
    gap: var(--size-xl);
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.register-content,
.login-content {
    flex: 1;
    height: 100%;
}
.register-body,
.login-body {
    width: 100%;
}
.register-body .logo,
.login-body .logo {
    display: flex;
    align-items: center;
    gap: var(--size-xs);
}
.register-body .logo span,
.login-body .logo span {
    max-width: var(--size-xl);
}
.register-container .register-content,
.login-container .login-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-container .register-content:first-child,
.login-container .login-content:last-child {
    background-color: var(--darkblue);
    border-radius: var(--border-container);
}
.register-container .register-content:first-child .register-body,
.login-container .login-content:last-child .login-body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-container .register-content:last-child .register-body,
.login-container .login-content:first-child .login-body {
    display: flex;
    flex-direction: column;
    gap: var(--size-s);
}
.register-container
    .register-content:last-child
    .register-body
    form
    input::placeholder {
    text-align: end;
}
.register-button-option,
.login-button-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.login-remember-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.verify-guest {
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
}
section {
    min-height: 100vh;
    padding: 0 10vw 0 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.navbar {
    width: calc(100% * var(--size-m));
    box-sizing: border-box;
    z-index: 9;
    top: 0;
    padding: 0 10vw 0 10vw;
    background-color: var(--darkblue);
    position: fixed;
}
.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
    background-color: var(--darkblue);
    border-radius: var(--border-container);
}
.navbar-logo {
    max-width: 12%;
    display: flex;
    align-items: center;
    gap: var(--size-xs);
}
.navbar-logo span {
    width: 100%;
}
.navbar-logo span img {
    width: 100%;
}
.navbar-logo h3 {
    padding: 0;
    margin: 0;
}
.navbar-container {
    display: flex;
    align-items: center;
    gap: var(--size-m);
}
.navbar-container a.btn-reglog {
    border-radius: var(--border-container);
    padding: 5px 20px;
}
.navbar-links {
    transition: transform ease-in-out 200ms;
}
.navbar-links:hover {
    transform: scaleY(-3px);
}
.hero-container{
    width: 80%;
    gap: var(--size-m);
}
.hero-text {
    gap: 5px;
}
.hero-text h1{
    text-shadow: 0px 0px 3px var(--white);
}
.hero-container,
.hero-text {
    display: flex;
    flex-direction: column;
}
.features-content {
    background: var(--blue);
    width: 40vw;
}
.features-content:first-child {
    margin-right: auto;
    text-align: end;
}
